<%= form_with(url: login_path, local: true) do %>
  <h1 class="font-bold text-4xl w-full text-center py-4">Login Now</h1>
  <div class="max-w-sm w-full mx-auto py-4">
    <div class="mb-5">
      <%= label_tag :email, "Your email", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= email_field_tag :email, nil, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "name@flowbite.com", required: true %>
    </div>
    <div class="mb-5">
      <%= label_tag :password, "Your password", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= password_field_tag :password, nil, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
    </div>
    <div class="flex items-start mb-5">
      <div class="flex items-center h-5">
        <%= check_box_tag :remember, "1", false, class: "w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" %>
      </div>
      <%= label_tag :remember, "Remember me", class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    </div>
    <%= submit_tag "Submit", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>
<% end %>
