<%= form_with(model: @user, local: true) do |form| %>
<div class="max-w-sm mx-auto">
  <div class="mb-5">
    <%= form.label :name, "Enter Your Name", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
    <%= form.text_field :name, required: true, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light", placeholder: "Enter Your Name", id: "name"%>
  </div>
  <div class="mb-5">
    <%= form.label :email, "Enter Email", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
    <%= form.email_field :email, required: true, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light", placeholder: "Enter Email", id: "email"%>
  </div>
  <div class="mb-5">
    <%= form.label :password, "Enter Password", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.password_field :password, required: true, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light", placeholder: "Enter Password", id: "password" %>
  </div>
  <div class="mb-5">
    <%= form.label :password_confirmation, "Confirm Password", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.password_field :password_confirmation, required: true, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light", placeholder: "Enter Password", id: "password" %>
  </div>

  <%=form.submit "Register new account", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"%>
  <%# <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register new account</button> %>
</div>
<%end%>